/* Colores de la pagina y fuentes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Raleway:wght@300;400;500&display=swap');

:root{
    --color_principal:rgb(9, 5, 73);
    --color_secundario:rgb(31, 122, 182);
    --color-terciario:rgb(47, 4, 81);
    --font-principal:'Quicksand', sans-serif;
    --font-secundaria:'Raleway', sans-serif;
}



/* Normalización de estilos */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* Comienzo de seccion de header */



/* Comienzo de nav */

.cont-logo-inicio img{
    width: 150px;
}

.burguer-icon-cont i{
    font-size: 3em;
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
}

.nav-bar{
    display: flex;
    gap: 27px;
    align-items: center;
    background-color: var(--color_principal);
    padding: 3px 15px;
    margin: 36px;
    border-radius: 20px;
}
.nav-link a{
    padding: 9px 15px;
    font-size: 1.4em;
    color: white;
    display: inline-block;
    font-family: var(--font-principal);
    font-weight: 500;
}
