/* Colores de la pagina y fuentes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Raleway:wght@300;400;500&display=swap');

:root{
    --color_principal:rgb(25,43,79);
    --color_secundario:rgb(16, 109, 171);
    --color-terciario:rgb(47, 4, 81);
    --color-princ_opacidad:rgba(25, 43, 79, 0.635);
    --font-principal:'Quicksand', sans-serif;
    --font-secundaria:'Raleway', sans-serif;
}



/* Normalización de estilos */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* Comienzo de seccion de header */

#inicio{
    background-image: url(../img/img-inicio-fondo.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio-fondo-azul{
    background-color: var(--color-princ_opacidad);
    padding: 25px;
    width: 290px;
    border-radius: 10px;
    margin: 150px 0px 0px 50px;
}

h1{
    color: white;
    font-family: var(--font-secundaria);
    font-weight: 300;
    font-size: 2em;
}
.cont-btn-contactanos button{
    background-color: var(--color_secundario);
    border-radius: 2px;
    color: white;
    padding: 6px;
    margin: 18px 12px 0px;
    border: 1px solid rgb(3, 3, 56);
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 1.5em;
}
.cont-btn-contactanos{
    display: flex;
    justify-content: center;
}

/* Comienzo de nav */

.cont-logo-inicio img{
    width: 150px;
}

.burguer-icon-cont i{
    font-size: 3em;
    color: white;
    background-color: var(--color_principal);
    padding: 12px 15px;
    border-radius:100%;
    cursor: pointer;
    
}
.burguer-icon-cont{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
}

.nav-bar{
    display: flex;
    align-items: center;
    background-color: var(--color_principal);
    padding: 3px 8px;
    margin: 36px;
    border-radius: 20px;
    border: 2px solid var(--color-princ_opacidad);
    
}
.nav-link a{
    padding: 6px 30px;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    font-family: var(--font-principal);
    font-weight: 400;
    border-radius: 40px;
}
.nav-link{
    border-radius: 40px;
}
.nav-link:hover, .nav-link a:hover {
    background-color: var(--color_secundario);
    transition: 1s;
    border-radius: 40px;
}

