/* Celulares y tablet resolucion */

@media screen and (max-width: 700px) {
  .cont-nav-bar {
    display: none;
    position:absolute;
  }
  .show{
    display:block;
    position: absolute;
    top:0;
    width: 40%;
       
   }
   .nav-link{
    margin: 15px 0px;
   }

   .nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px;
    padding: 0;
    min-height:100vh;
    margin: 0;
    width: 100%;
   }

  .cont-logo-inicio img {
    width: 165px;
  }

  .burguer-icon-cont {
    display: block;
    padding: 40px 30px;
  }
  .img-nosotros-1 img {
    height: 200px;
  }

  .img-nosotros-1 {
    display: flex;
    justify-content: center;
  }
  .cont-nosotros {
    flex-wrap: wrap;
    padding: 85px 0px;
  }

  .nosotros_section {
    padding: 20px 50px 10px;
  }

  .servicios-cont01 {
    gap: 5px;
  }
  .servicios-rrss a {
    font-size: 2.4rem;
    margin: 10px;
  }
  .cont-card-servicios div:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
  .info-footer {
    font-size: 1.3rem;
  }
  .logo-footer {
    width: 140px;
  }
  .servicios-exp {
    padding: 10px 30px;
  }
  .cont-contacto {
    justify-content: center;
  }
  .subcont-contacto1 {
    padding: 20px 0px 30px;
  }
  /* pagina exito  */

  
}
