/* Celulares y tablet resolucion */

@media screen and (max-width:700px) {
    .cont-nav-bar{
        display: none;
    }
    .burguer-icon-cont {
        display: block;
        padding: 40px 30px 40px 10px;
    }
}